@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-kreatop-blue-active: #312ECB;
  --color-kreatop-light-blue: #007AFF;
  --color-kreatop-purple: #732ECB;
  --color-kreatop-blue: #312ECB;
  --color-kreatop-amber: #CB372E;
  --color-kreatop-mint: #2ECB89;
  --color-kreatop-pink: #C82ECB;
  --color-kreatop-cyan: #2EA5CB;
  --color-kreatop-red: #FF001F;
  --color-kreatop-green: #03A900;
  --color-kreatop-light-green: #BFFFBE;
  --color-kreatop-text-light-blue: #CCE4FF;

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #07041B;
  --foreground: #FFFFFF;
  --card: #110E24;
  --card-foreground: #FFFFFF;
  --popover: #110E24;
  --popover-foreground: #FFFFFF;
  --primary: #312ECB;
  --primary-foreground: #FFFFFF;
  --secondary: #23203A;
  --secondary-foreground: #FFFFFF;
  --muted: #23203A;
  --muted-foreground: #89869A;
  --accent: #312ECB;
  --accent-foreground: #FFFFFF;
  --destructive: #FF001F;
  --border: #23203A;
  --input: #23203A;
  --ring: #312ECB;
  --chart-1: #732ECB;
  --chart-2: #2ECB89;
  --chart-3: #2EA5CB;
  --chart-4: #CB372E;
  --chart-5: #C82ECB;
  --sidebar: #07041B;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #312ECB;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #23203A;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #23203A;
  --sidebar-ring: #312ECB;
}

.dark {
  --background: #07041B;
  --foreground: #FFFFFF;
  --card: #110E24;
  --card-foreground: #FFFFFF;
  --popover: #110E24;
  --popover-foreground: #FFFFFF;
  --primary: #312ECB;
  --primary-foreground: #FFFFFF;
  --secondary: #23203A;
  --secondary-foreground: #FFFFFF;
  --muted: #23203A;
  --muted-foreground: #89869A;
  --accent: #312ECB;
  --accent-foreground: #FFFFFF;
  --destructive: #FF001F;
  --border: #23203A;
  --input: #23203A;
  --ring: #312ECB;
  --chart-1: #732ECB;
  --chart-2: #2ECB89;
  --chart-3: #2EA5CB;
  --chart-4: #CB372E;
  --chart-5: #C82ECB;
  --sidebar: #07041B;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #312ECB;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #23203A;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #23203A;
  --sidebar-ring: #312ECB;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  
  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
  }
}

@layer utilities {
  /* Hide Scrollbar Utility */
  .hide-scrollbar {
    /* For Firefox */
    scrollbar-width: none;
    
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  /* For Chrome, Safari, and other WebKit-based browsers */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}